.container {
  margin: 20px 0;
}

.card {
  margin: 1% 2% !important;
  text-align: center;
}

.infected {
  border: 10px solid rgb(0, 0, 255);
  background-color: rgb(140, 184, 204) !important;
}

.recovered {
  border: 10px solid rgb(0, 255, 0);
  background-color: rgb(91, 189, 104) !important;
}
.deaths {
  border: 10px solid rgb(255, 0, 0);
  background-color: rgb(212, 92, 92) !important;
}
.imageCard {
  width: 50px;
}
